<div class="section">
  <div class="container">

    <% if flash[:alert] %>
      <div class="notification is-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= form_for @secret, url: {action: "create"} do |f| %>
      <div class="field">
        <%= f.text_area :raw_content, class: "textarea is-primary", size: "80x15", required: true, placeholder: "Paste your secrets here...", autofocus: true %>
      </div>

      <div class="field">
        <div class="control">
          <%= f.text_field :name, class: "input is-primary", placeholder: "Name your secrets, will be used as filename on download (optional)" %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.submit "Keep it secret. Keep it safe.", class: "button is-primary", data: { "disable-with": "Encrypting..." } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
